---
import BMJHeader from '@/components/BMJHeader.vue';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Change me!">
	<BMJHeader client:load />
	<h1 class="text-blue"> title </h1>
	<br/>
	<p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quis doloribus harum repellat omnis est ab facere ducimus qui ullam commodi distinctio ex, voluptate minima obcaecati unde, neque nemo. Voluptatum.</p>
</BaseLayout>

