---
import PageLayout from "@/layouts/PageLayout.astro";
import Basic from "@/components/Basic.vue";
---

<PageLayout>
  <h1 class="font-bold text-3xl text-center mb-3">The :has() selector</h1>

  <Basic />
</PageLayout>
