---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>BMJ | { title }</title>
</head>
<body>
	<slot />
</body>
</html>