---
const PUBLIC_SITE_NAME = import.meta.env.PUBLIC_SITE_NAME;
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>BMJ | { PUBLIC_SITE_NAME }</title>
</head>
<body>
	<slot />
</body>
</html>